
div(class="navpar")
    div(class="left-par")
        div(class="flex-left-par")
            div(class="profile")
                div(class="title-profile")
                     p بروفايلى
                div(class="img-profile")
                     img(src="images/elpahr.jpg")
                div(class="myacount")
                    div(class="reloade-myacount")
                        div(class="animation-reloade")
                    div(class="edit-acount")
                        div(class="flex-profile")
                            div(class="img")
                                 img(src="images/ahmed.jpg")
                            div(class="edit")
                                div(class="name-acount")
                                     p احمد البحر
                                div(class="manger-acount")
                                     p ادارة الخساب
                    div(class="chanel") 
                        div(class="flex-chanel")
                            div(class="icon-chanel")
                                span
                                     <i class="fas fa-air-freshener"></i>
                            div(class="name-chanel")
                                 a(href="#") قناتك
                    div(class="mycard")
                        div(class="flex-card")
                            div(class="icon-name-card")
                                div(class="icon-card")
                                    span
                                         <i class="fas fa-money-check-alt"></i>
                                div(class="name-card")
                                    a(href="#") عمليات الشراء
                    div(class="mystdio")
                        div(class="flex-name-icon-stdio")
                            div(class="icon-stdio")
                                span
                                     <i class="fas fa-air-freshener"></i>
                            div(class="name-stdio")
                                 a(href="#") استديو elpahr
                    div(class="replace-acount")
                        div(class="flex-betweeen-acount")
                            div(class="flex-name-icon-acount")
                                div(class="icon-acount")
                                    span
                                        <i class="fas fa-slash"></i>
                                div(class="replace-name")
                                     a(href="#") تبديل الحساب
                            div(class="icon-awossom")
                                span
                                     <i class="fas fa-angle-left"></i>
                    div(class="mysignup")
                        div(class="flex-signup")
                            div(class="icon-signup")
                                span 
                                     <i class="fas fa-power-off"></i>
                            div(class="name-signup")
                                 a(href="#") تسجيل الخروج
                    div(class="menue-relode")
                         p قريبا سيتم اضافة مميزات جديدة للموقع
            div(class="icon-button-message")
                div(class="title-message")
                     p الاشعارت
                div(class="icon-message")
                    span 
                         <i class="fas fa-bell"></i>
                div(class="menue-message")
                    div(class="edit-message")
                        div(class="flex-edit-message")
                            div(class="icon-message-awsom")
                                span 
                                     <i class="fas fa-wrench"></i>
                            div(class="message-text")
                                 label الاشعارات
                    div(class="card-message")
                        div(class="flex-card")
                            div(class="flex-img-name-card")
                                div(class="img-card")
                                     img(src="images/ahmed.jpg")
                                div(class="name-card-message")
                                    label فيدو جديد 2021 اليوم السابع
                                    h5 قناة اليوم السابع قبل 3 ساعات
                            div(class="img-card-message-send")
                                 img(src="images/elpahr.jpg")
                    div(class="card-message")
                        div(class="flex-card")
                            div(class="flex-img-name-card")
                                div(class="img-card")
                                     img(src="images/ahmed.jpg")
                                div(class="name-card-message")
                                    label اخبار الاهلى اليوم
                                    h5 قناة عشاق الاهلى
                            div(class="img-card-message-send")
                                 img(src="images/elpahr.jpg")
            div(class="icon-apps")
                div(class="title-apps")
                     p تطبيقاتنا
                span 
                    <i class="fas fa-bars"></i>
            div(class="iconn icon-create")
                div(class="title-create")
                    p انشاء فيديو
                span 
                    <i class="far fa-plus-square"></i>
            div(class="mobile-search")
                div(class="title-search")
                    p بحث
                span 
                    <i class="fas fa-search"></i>
    div(class="center-par")
        div(class="flex-center-par")
            div(class="icon-search")
                div(class="icon-aws")
                    span
                    <i class="fas fa-search"></i>
            div(class="myinput-search")
                 input(type="text" placeholder="بخث")
    div(class="right-par")
        div(class="flex-right-par")
            div(class="logo")
                 p elpahr tupe
            div(class="menue-par")
                div(class="menue")
                    span
                         <i class="fas fa-align-left"></i>       
                div(class="outmene")
                    div(class="top-menue-mobile")
                        div(class="icon-top-menue")
                            span 
                                 <i class="fas fa-align-justify"></i>
                        div(class="name-top-mene")
                             label elpahr tube

                             
                    div(class="section-menue-mobile")
                        div(class="flex-section-menue-mobile")
                            div(class="icon-section-mobile")
                                span
                                     <i class="fab fa-accusoft"></i>
                            div(class="name-setion-mobile")
                                 label الصفحة الرئيسية  
                    div(class="section-menue-mobile")
                        div(class="flex-section-menue-mobile")
                            div(class="icon-section-mobile")
                                span 
                                     <i class="fas fa-apple-alt"></i>
                            div(class="name-setion-mobile")
                                 label استكشاف
                    div(class="section-menue-mobile")
                        div(class="flex-section-menue-mobile")
                            div(class="icon-section-mobile")
                                span 
                                     <i class="fas fa-align-center"></i>
                            div(class="name-setion-mobile")
                                 label الاشتراكات
                    div(class="hr-menue-mobile")
                    div(class="section-menue-mobile")
                        div(class="flex-section-menue-mobile")
                            div(class="icon-section-mobile")
                                span 
                                     <i class="fas fa-align-center"></i>
                            div(class="name-setion-mobile")
                                 label الاشتراكات
                    div(class="section-menue-mobile")
                        div(class="flex-section-menue-mobile")
                            div(class="icon-section-mobile")
                                span 
                                     <i class="fas fa-align-center"></i>
                            div(class="name-setion-mobile")
                                 label الاشتراكات
                    div(class="section-menue-mobile")
                        div(class="flex-section-menue-mobile")
                            div(class="icon-section-mobile")
                                span 
                                     <i class="fas fa-align-center"></i>
                            div(class="name-setion-mobile")
                                 label الاشتراكات
                    div(class="section-menue-mobile")
                        div(class="flex-section-menue-mobile")
                            div(class="icon-section-mobile")
                                span 
                                     <i class="fas fa-align-center"></i>
                            div(class="name-setion-mobile")
                                 label الاشتراكات
                    