div(class="head-nav")
    div(class="content-nav-par")
        div(class="flex-nav-par-right")
            div(class="button-mene-nav-par-right active-home")
                div(class="iconss")
                    span
                        <i class="fas fa-archway onclockmenue"></i>   
                a(href="#") الرئيسية
            div(class="button-explore-nav-par-right active-explore") 
                div(class="iconss") 
                     span 
                          <i class="fab fa-android"></i>
                a(href="#") استكشاف
            div(class="button-subscrips-nav-par-right active-subscrip") 
                div(class="iconss")
                    span
                          <i class="fab fa-hubspot"></i>
                a(href="#") الاشتركات
            div(class="button-framework-nav-par-right")
                div(class="iconss")
                     span 
                          <i class="fas fa-rainbow"></i>
                a(href="#") مكتبة

                    
