extends indexpug.pug 
block mystylesheet
    link(rel="stylesheet" href="style/styleexplor.css")
block mytitle    
    title explor
block page-play-vedio    
block mypage menue
    div(class="mynav-option")
        div(class="card-option")
            div(class="card-open")
                div(class="icon") 
                    span
                        <i class="fas fa-headphones"></i>
                        
                div 
                    label 
                        |موسيقى
            div(class="card-open")
                div(class="icon") 
                    span
                        <i class="fas fa-spray-can"></i> 
                div 
                    label 
                        |البث المباشر الان 
            div(class="card-open")
                div(class="icon") 
                    span
                        <i class="fab fa-apple"></i>
    
                div 
                    label 
                        |هدية اليوم 
            div(class="card-open")
                div(class="icon") 
                    span
                        <i class="fas fa-poll"></i>
                div 
                    label
                        |ترند العالم
        div(class="mycard-explor")
            h5 المحتوى الرائج الان
            div(class="flex-cards-explor")
                div(class="card-explor")
                    div(class="explor-img-menue-card")
                        img(src="images/ahmed.jpg")
                    div(class="content-explor")
                        p سورة الواقعة بصوت الشيخ ناصر القطامى
                        p قناة ناصر القطامى
                        h5 100 مليون مشتاهدة قبل ساعتين  
                div(class="card-explor")
                    div(class="explor-img-menue-card")
                        img(src="images/ahmed.jpg")
                    div(class="content-explor")
                        p سورة الواقعة بصوت الشيخ ناصر القطامى
                        p قناة ناصر القطامى
                        h5 100 مليون مشتاهدة قبل ساعتين    
                div(class="card-explor")
                    div(class="explor-img-menue-card")
                        img(src="images/ahmed.jpg")
                    div(class="content-explor")
                        p سورة الواقعة بصوت الشيخ ناصر القطامى
                        p قناة ناصر القطامى
                        h5 100 مليون مشتاهدة قبل ساعتين    
                div(class="card-explor")
                    div(class="explor-img-menue-card")
                        img(src="images/ahmed.jpg")
                    div(class="content-explor")
                        p سورة الواقعة بصوت الشيخ ناصر القطامى
                        p قناة ناصر القطامى
                        h5 100 مليون مشتاهدة قبل ساعتين                              
block myscript
    script(src="js/jsexplor.js")                        

