extends indexpug.pug
block mystylesheet  
    link(rel="stylesheet" href="style/stylesubscrip.css")  
block mytitle    
    title subscripsb
block myscript 
    script(src="js/jssubscrip.js")


